/*----------------------------------
*  00 公共样式
*  01 底部tab样式
* 
=======================*/


/*----------------------------------
*  00 公共样式
*====================================*/
html{
	width: 100%;
	min-height: 100vh;
	font-size: 12px;
}
body{
	width: 100%;
	min-height: 100vh;
}
img{
	display: block;
}
div{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.Active{
	display: block!important;
}
#MostBMom{
	width: 100%;
	height: 100%;
	position: relative;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.colorGay{
	color: #696969!important;
}
.colorYollow{
	color: #EE9D0D!important;
}
/*----------------------------------
*  01 底部tab样式
*====================================*/
.MBM_BottomBtnBox{
	width: 100%;
	height: 1rem;
	border-top: 1px solid #F3F1F0;
	background-color: #fff;
	position: fixed;
	left: 0%;
	bottom: 0%;
	z-index: 999;
}
.MBM_BottomBtn{
	width: 33.333%;
	height: 100%;
	float: left;
	text-align: center;
	color: #9A9A9A;
	padding: 0.1rem 0;
}
.MBM_BottomImg{
	height: 0.5rem;
	padding: 0.05rem 0;
	display: inline-block;
}
.MBM_BottomText{
	width: 100%;
	height: 0.3rem;
	line-height: 0.3rem;
	font-size: 0.2rem;
	color: #696969;
}
.MBM_Active{
	color: #D3525C!important;
}

/*----------------------------------
*  02 首页home样式
*====================================*/
#home,#vote{
	width: 100%;
	min-height: 100vh;
	background: url(../img/homeBG.png) no-repeat top center;
	background-size: 100% 100%;
	position: relative;
	padding-bottom: 1rem;
}
.home_logo{
	width: 25%;
	position: absolute;
	top: 0%;
	left: 0%;
}
.home_head{
	width: 100%;
}
.guize{
    width: 18%;
    height: 1.2rem;
    position: absolute;
    top: 0%;
    right: 0%;
    background-color:transparent;
}
.home_Price{
	width: 100%;
	position: relative;
}
.home_PriceBox{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	padding: 14% 10% 3% 10%;
	overflow: hidden;
}
.homePrcie01{
	width: 100%;
	height: 50%;
}
.homePrcie02a03{
	width: 100%;
}
.homePrcie02{
	width: 50%;
	height: 50%;
	float: left;
    padding: 6% 8% 8% 8%;
}
.home_ISignUp{
	width: 100%;
    padding: 5% 6% 5% 8%;
}
.home_ISignUp01{
	width: 100%;
    padding: 5% 6% 0% 8%;
}
.home_ISignUp_Btn{
	width: 100%;
	height: 0.7rem;
	border: none;
	outline: none;
	border-radius: 10px;
	background-color: #D75F69;
	color: #FFFFFF;
	font-size: 0.3rem;
	letter-spacing:0.08rem;
}
.home_search{
	width: 100%;
    padding: 0% 18%;
    position: relative;
}
.home_search_Input{
	width: 100%;
	height: 0.7rem;
	border: 1px solid #DB757D;
	border-radius: 1rem;
	background-color: #fff;
	padding: 0 0.7rem 0 0.3rem;
}
.home_search_Img{
    height: 0.7rem;
    position: absolute;
    top: 2%;
    right: 18%;
    padding: 0 0.2rem;	
}
.home_SignUpNumBox{
	width: 100%;
	padding: 5% 7%;
}
.home_SignUpBoxList{
	width: 33.333%;
	float: left;
	text-align: center;
}
.home_SignUpTitle{
	color:#DB757D;
	padding-bottom: 0.2rem;
	font-size: 0.28rem;
}
.home_SignUpNum{
	color:#696969;
}
.home_SignUpBoxList:nth-of-type(1){
	border-right: 1px solid #A8A6A3;
}
.home_SignUpBoxList:nth-of-type(2){
	border-right: 1px solid #A8A6A3;
}
.home_momListBox{
	width: 100%;
	padding: 0% 3%;
}
.home_momListBigBox{
	width: 100%;
	height: 3.8rem;	
	position: relative;
	margin-bottom: 0.25rem;	
}
.home_momList{
	width: 100%;
	height: 100%;
    box-shadow: 3px 4px 14px 2px #F9DADC;
	border-radius: 6px;	
	overflow: hidden;
}
.home_momClickA{
	width: 100%;
	height: 3rem;
}
.home_momList_info{
	width: 50%;	
	height: 100%;
}
.padding{
	padding: 5%;
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.home_momName{
	width: 100%;
	line-height: 0.4rem;
	font-size: 0.25rem;
	color: #D6616A;
	font-weight: 600;
}
.home_ranking{
	width: 100%;
	color: #D6616A;
	line-height: 0.35rem;
	font-size: 0.2rem;	
}
.home_xuanyan{
	width: 100%;
	color:#696969;
	line-height: 0.35rem;
	font-size: 0.2rem;	
	height: 1.75rem;	
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 0.15rem;
}
.home_momList_Btn{
	width: 45%;
	border-radius: 6px;
	background-color:#D6616A;
	height: 0.5rem;
	font-size: 0.2rem;
	letter-spacing: 0.05rem;
	color: #FFFFFF;
	border: none;
	outline: none;
	position: absolute;
	bottom: 3.5%;
}
.posiR{
	right: 2.5%;
}
.posiL{
	left: 2.5%;
}
.home_RuleMask{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0%;
	left: 0%;
	background: url(../img/homeRule.png) no-repeat top center;
	background-size: 100% 100%;
	z-index: 1024;
	display: none;
}
.home_Rule_close{
	width: 0.8rem;
    height: 0.8rem;
    background-color: transparent;
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 0.2rem;
}
.home_Rule_TxtBox{
	width: 90%;
	height: 60%;
	position: absolute;
	top: 14%;
	left: 5%;
	background-color: transparent;
	color: #D85D66;
	overflow-x: hidden;
}
.home_Rule_Txt{
	width: 100%;
	line-height: 0.5rem;
}


.home_isVipMask{
	width: 100%;
	min-height: 100vh;
	position: fixed;
	top: 0%;
	left: 0%;
	background: url(../img/Mask.png) no-repeat top center;
	background-size: 100% 100%;
	z-index: 1024;	
	display: none;
}
.home_isVipBigBox{
	width: 100%;
	position: absolute;
	top: 25%;
	left: 0%;
}
.home_isVipImg{
	width: 100%;
}
.home_isVip_tel{
    width: 54%;
    height: 14%;
    background-color: transparent;
    position: absolute;
    top: 40.5%;
    left: 23%;
    padding: 0 0.2rem;
}
.home_isVip_Veri{
    width: 38%;
    height: 14%;
    background-color: transparent;
    position: absolute;
    top: 58%;
    left: 23%;
    padding: 0 0.2rem;
}
.GetVeriBtn{
    width: 15%;
    height: 14%;
    background-color: transparent;
    position: absolute;
    top: 58%;
    left: 62%;
    border: none;
    outline: none;
    color: #fff;
}
.GetVeriBtnMask{
    width: 15%;
    height: 14%;
    background-color: transparent;
    position: absolute;
    top: 58%;
    left: 62%;

}
.InSure{
    width: 54%;
    height: 13.5%;
    background-color: transparent;
    position: absolute;
    top: 74.5%;
    left: 23%;
}
.home_isVipMask_close{
    width: 12%;
    height: 7%;
    background-color: transparent;
    position: absolute;
    top: 0%;
    right: 0%;	
}


/*----------------------------------
*  03 My我的样式
*====================================*/
#My{
	width: 100%;
	min-height: 100vh;
	background: url(../img/homeBG.png) no-repeat top center;
	background-size: 100%;
	position: relative;	
	padding-bottom: 1rem;
}
.My_head{
	width: 100%;
	font-size: 0.5rem;
	text-align: center;
	color: #C5656A;
	padding: 01rem 0 0rem 0;
}
.My_StatusBox{
	width: 94%;
    background-color: #FFFFFF;
	margin: 0% 3% 0.3rem 3%;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 4px 3px 15px 3px #F7D2D7;
}
.My_Status_failBox,.My_Status_LaheiBox{
	width: 100%;
	height: 100%;
	position: relative;
}
.My_Status_fail{
	width: 100%;
}
.My_Status_fail_Btn{
    width: 60%;
    height: 10%;
    position: absolute;
    top: 51%;
    left: 20%;
}
.My_Status_YBox{
	width: 100%;
	height: 100%;
	position: relative;
}

.My_Status_YHead{
	width: 100%;
	padding: 3%;
}
.M_S_YHead_List01{
	width: 100%;
	height: 0.7rem;
	line-height: 0.7rem;
	color: #D6616A;
}
.M_S_YHead_List01_L{
	float: left;
	font-size: 0.35rem;
}
.M_S_YHead_List01_R{
	float: right;
	font-size: 0.2rem;
}
.M_S_YHead_List02{
	line-height: 0.4rem;
	font-size: 0.25rem;
	color: #6E6E6E;
}
.M_S_YHead_List02_T{
	font-size: 0.3rem;
	line-height: 0.5rem;
}
.My_momImgBox{
	width: 100%;
	padding: 3%;
}
.My_momImgListBox{
	width: 100%;
	height: 2rem;
	overflow: hidden;
}
.My_momImgList{
	width: 33.333%;
	height: 2rem;
	float: left;
	position: relative;
	border: 1px solid #FFFFFF;	
}
.My_momSmallImg{
	display: block;
	width: 100%;
	height: 1.97rem;
}
.My_momSmallImg_Mask{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0%;
	left: 0%;
}
.My_momSmallImgAcitve{
	border: 1px solid #D6616A!important;
}
.My_momImgbanner{
	width: 100%;
	height: 9rem;
	overflow: hidden;
	background-color: antiquewhite;
}
.swiper-container{
	width: 100%;
	height: 100%;
}
.swiper-wrapper{
	width: 100%;
	height: 100%;
}
.swiper-img{
	width: 100%;
}
.swiper-pagination-bullet{
	background-color: #fff;
	opacity: 1;
}
.swiper-pagination-bullet-active{
	background: #D6616A!important;
}
.My_shareMask{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 999;
	display: none;
}
.My_lapiaoImg{
	width: 100%;
	height: 100%;
}

/*----------------------------------
*  04 OldSeeHome好友从之前链接进入时看到的页面
*====================================*/
.OldSeeHome_Text{
	width: 100%;
	padding: 0.3rem 15%;
	text-align: center;
	font-size: 0.3rem;
	line-height: 0.5rem;
}
.vote_Btn01{
    width: 86%;
    margin: 0.3rem 7% 0.8rem 7%;
    height: 0.7rem;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #D75F69;
    color: #FFFFFF;
    font-size: 0.3rem;
    letter-spacing: 0.08rem;	
}
.vote_Btn02{
    width: 86%;
    margin: 0.0rem 7% 0.0rem 7%;
    height: 0.7rem;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #D75F69;
    color: #FFFFFF;
    font-size: 0.3rem;
    letter-spacing: 0.08rem;	
}
.vote_Btn03{
    width: 86%;
    margin: 0.3rem 7% 0.3rem 7%;
    height: 0.7rem;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #D75F69;
    color: #FFFFFF;
    font-size: 0.3rem;
    letter-spacing: 0.08rem;		
}
.vote_successMask{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0%;
	left: 0%;
	background: url(../img/Mask.png) no-repeat top center;
	background-size: 100% 100%;
	z-index: 1024;	
	display: none;	
}
.vote_success_close{
    width: 54%;
    height: 16%;
    background-color: transparent;
    position: absolute;
    top: 75.5%;
    left: 23%;
}
/*----------------------------------
*  05 我要报名woyaobaoming样式(何)
*====================================*/
#h_body{
    float: left;
    width: 100vw;
    height: 100vh;
    background: url("../img/sign_up.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin-bottom: 1rem;
}
.h_vote_visit{
    float: left;
    width: 100%;
    position: absolute;
    top:15.5%;
    left:0;
    color: #666666;
    font-size: .24rem;
}
.h_vote_visit label{
    float: left;
    width: 33.333%;
    text-align: center;
}
#h_sign_up{
	padding-left: 5%;
}
#h_Visit{
	padding-right: 5%;
}
.h_main{
    float: left;
    width: 65%;
    position: absolute;
    top: 26.2vh;
    left: 29vw;
    font-size: .2rem;
}
#h_name{
    width: 52%;
    height: 4%;
    position: absolute;
    top: 26.5%;
    left: 29%;
    background-color: transparent;
    padding: 0 0.15rem;
}
#h_phone{
    width: 52%;
    height: 4%;
    position: absolute;
    top: 32.3%;
    left: 29%;
    background-color: transparent;
    padding: 0 0.15rem;	
}
#select_contact{
    width: 52%;
    height: 4%;
    position: absolute;
    top: 38.8%;
    left: 29%;
    background-color: transparent;
    padding: 0 0.15rem;	
}
.h_photo{
    width: 20%;
    height: 12%;
    position: absolute;
    top: 44.2%;
    left: 29%;
}
#uploadFile{
    float: left;
    width: 66%;
    height: 50%;
}
#result{
    width:56%;
    height: 0.97rem;
    position: absolute;
    top: 57.2%;
    left: 29%;    
    background: transparent;
}
#result img{
    float: left;
    width: .97rem;
    height: .97rem;
    margin-right: 4%;
    border-radius: 5px;
}

#h_declaration{
    width: 49%;
    height: 7%;
    position: absolute;
    top: 75.6%;
    left: 29%;
    border: 0;
    outline: none;
    font-size: .18rem;
    padding: 0.1rem;
    background-color: transparent;
}
#h_myself_sign_up{
    width: 44%;
    height: 6.5%;
    position: absolute;
    top: 89%;
    left: 28%;
    border: 0;
    outline: none;
    background: 0;
    background-color: transparent;
}
.baoming_successMask{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 999;
    background: url("../img/Mask.png") no-repeat;
    background-size: 100% 100%;	
    display: none;
}
.baoming_success_Btn{
    width: 56%;
    height: 12%;
    position: absolute;
    top: 75%;
    left: 22%;
    background-color: transparent;
}
.baoming_success_Text{
	width: 56%;
    height: 5%;
    position: absolute;
    top: 22%;
    left: 22%;
    font-size: 0.25rem;
    line-height: 0.35rem;
    background-color: transparent;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.03rem;
}


/*----------------------------------
*  06 提前加载loading样式(何)
*====================================*/
#h_load{
    float: left;
    width: 100%;
    height: 100%;
    background: #fdf2f2;
}

#loading{
    position: relative;
    z-index: 99999;
}
.pgb_prog{
    position: relative;
    left: .9rem;
    top: 5.8rem;
    width: 72.3%;
    height: .35rem;
    overflow: hidden;
    z-index: 1;
}
.progressbar{
    position: absolute;
    left: 0;
    top: 0;
    width:3rem;
    height: .8rem;
    background: url(../img/load_load.png) repeat-x;
    background-size: 100% 100%;
    -webkit-transition: width ease-in 200ms;
    z-index: 1;
}

.loadimg{
    float: left;
    width: 4.85rem;
    height: 3.08rem;
    position: absolute;
    left: .8rem;
    top: 3.2rem;
    z-index: 999;
}

.loading {
    width: 100%;
    height: 100vh;
    background: url("../img/load.gif") no-repeat;
    background-size: 100%;
    position: fixed;
    z-index: 9999;
    left:0;
    top:0;
    overflow: hidden;
}

.loadbox {
    position: relative;
    width: 1.40rem;
    height: 2.40rem;
    margin: 0 auto;
    margin-top: 74%;
}
.loadlogo {
    position: absolute;
    top: 0.6rem;
    left: 0.5rem;
    z-index: 1001;
    height: .68rem;
    line-height: .68rem;
    font-size: 0.26rem;
    color: #FFFFFF;
}













